* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'myFont';
    src: url(fonts/Modius.otf);
}

@font-face {
    font-family: 'myBodyText';
    src: url(fonts/Manrope-Regular.ttf);
}

:root {
    --white: #fff;
    --black: #121212;
    --dark: #273036;

    --primary: #032539;
    --secondary: #1c768f;
    --third: #fa991c;

    --blue: #0099ff;
    --green: #00cba9;
    --light-grey: rgba(22, 8, 43, 0.1);

    --header-height: 3.5rem;
    --nav-width: 219px;

    --neonBlue: #6923D0;
    --textColor: #333333;

    --bodyFont: 'Montserrat', sans-serif;
    --normalFont: 16px;
    --smallFont: 14px;
    --smallerFont: 12px;

    --z-fixed: 100;

}

@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

.header {
    position: fixed;
    top: 0;
    background: var(--white);
    left: 0;
    width: 100%;
    z-index: var(--z-fixed);
    padding: 0 1em;
    box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
}

.headerImage {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.headerText {
    font-family: 'myFont';
    text-decoration: none;
    color: var(--textColor);
}

.headerText:hover {
    color: var(--blue);
    transition: .25s ease;
}

.introContainer {
    margin-top: 7em;
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;

}

#myHeading {
    font-family: 'myFont';
    font-size: 2.3em;
    text-align: center;
    color: var(--textColor);
}

#mySectionText {
    font-family: 'myFont';
    font-size: 1.8em;
    text-align: center;
    color: var(--white);
    letter-spacing: 1px;
}

#myText {
    font-size: 1.2em;
    font-family: 'myBodyText';
    text-align: center;
    font-weight: 400;
    color: var(--textColor);
}

.section-1-img img {
    height: 30vh;
    margin: 0;
    padding: 0;
}

.sect-1 {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
    padding: 0;

}

.section-1 {
    background: var(--blue);
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.introLinks {
    display: flex;
    flex-direction: column;
    gap: 3em;
}


.iLink a {
    color: var(--dark);
    text-decoration: none;
    text-align: center;
    font-family: 'myFont';
    font-size: 1em;
    background: var(--white);
    padding: 1em;
    position: relative;
    float: right;
    letter-spacing: 1px;
}

.between-sections {
    height: 7vh;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footerContainer {
    background: var(--blue);
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerContainer-1 {
    font-family: 'myBodyText';
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    .section-1-img img {
        height: 23vh;
    }

    #myHeading {
        font-size: 1.5em;
    }

    #myText {
        font-size: 1.2em;
    }

    .introContainer {
        padding: 2em;
    }
    .section-1 {
        flex-direction: column;
        height: 80vh;
    }
    .introLinks {
        align-items: center;
    }
    #mySectionText {
        font-size: 1.2em;
    }
    .iLink a {
        font-size: .8em;
    }
}